<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <style>
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }

    main {
      width: 50%;
      margin: 2rem auto;
    }
  </style>
</head>

<body class="container mt-5">

  <header>
    <img src="./assets/img/logo2.webp" alt="pietarz digital marketing logo">
    <h3>Report Generator</h3>
  </header>


  <main>
    <form action="/api/csv/upload" method="POST" enctype="multipart/form-data">
      <label for="formFile" class="form-label">Select CSV File</label>
      <div class="input-group">
        <input class="form-control" id="formFile" type="file" name="csvReport">
        <input type="submit" value="submit" class="btn btn-success" />
      </div>

    </form>
  </main>

  <%- include('../partials/footer'); %>

</body>

</html>