<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <main>
    <div class="jumbotron mt-3">
      <h1>Keyword Research Report</h1>
      <p>Convert CSV to Pietarz Report</p>
    </div>
  </main>

  <article>
    <h1></h1>
  </article>

  <%- include('../partials/footer'); %>
</body>

</html>