<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <style>
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }

    main {
      width: 50%;
      margin: 2rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  </style>
</head>

<body class="container">

  <header class="mt-5">
    <img src="../../assets/img/logo2.webp" alt="pietarz digital marketing logo">
    <h3>Report Generator</h3>
  </header>

  <main class="mt-5">
    <h5>File upload succesful</h5>
    <span class="text-muted" style="display: block;"><%= rows %> rows imported</span>
    <a href="/report/<%= collectionid %>" class="btn btn-success mt-5">Generate Report</a>
  </main>

  <%- include('../partials/footer'); %>
</body>

</html>